/*BARRA DE NAVEGACION*/

/*NAVEGACION CENTRALES*/

/*Estilo para la cajita desplegable (dropdown) */
.dropdown-menu {
    border: none;
    border-radius: 12px;
    padding: 10px;
}
.dropdown-item:hover {
    background-color: #dde8e1;
    color: #1c814c;
    border-radius: 8px;
}
.dropdown-toggle::after {
    display: none;  /*Oculta la flecha de los menu desplegables*/ 
}

/*Aplica reglas hover si la pantalla es una laptor o pc*/
@media (min-width: 992px) {
    .dropdown:hover > .dropdown-menu {
        display: block;
        margin-top: 0;
    }
    /* Si el menú tiene la clase '-end', lo alineamos a la derecha */
    .dropdown-menu-end {
        right: 0;
        left: auto;
    }
}

/* Animación de entrada suave */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

/* background del navbar personalizado*/

.bg-navbar {
    background-color: #386150;
}

/* bg del body */
.body {
    background-color: #F5F5F5 ;
}

/*OPCIONES ICONOS (DCHA)*/

/* Maneja el tamaño, color y efectos de los links*/
.nav-link-icon {
    color: #f8fdfa;
    font-size: 1.5rem;
    text-decoration: none;
    transition: 0.3s;
}
.nav-link-icon:hover {
    color: #1c814c; /* Verde al pasar el mouse */
}

.nav-link {
    color: #f8fdfa;
    text-align: center;
}
.nav-link:hover{
    font-weight: bold;
    color: #f8fdfa;
}

/* Evita que el botón de Productos se ponga negro al hacer clic o estar abierto */
.nav-link.show, 
.nav-link:focus {
    color: #f8fdfa !important; /* Mantiene tu color blanco hueso */
}

/* Si quieres que mantenga el estilo de negrita cuando está el menú abierto */
.nav-link.show {
    font-weight: bold;
}
