/*TIPOGRAFIA*/
/* Para los títulos del Navbar y Footer */
h1, h2, h3, h4, .navbar-brand {
    font-family: 'Lora', serif;
    font-weight: 700;
}
/* Para los enlaces del menú, textos de productos y el resto */
body, .nav-link, .dropdown-item {
    font-family: 'Montserrat', sans-serif;
}

/*COLOR MATIENSOS*/
.color-matiensos {
    color: #386150;
}

/*ESTILO DE LOS BOTONES*/
.btn-color-matiensos {
    background-color: #386150;
    border: none;
}
.btn-color-matiensos:hover {
    background-color: #3d755a; /* Un verde un poco más claro */
}
/* Cuando el input está seleccionado (focus) */
.form-control:focus {
    border-color:  #386150; /* El color de tu borde verde */
}