/*BARRA DE NAVEGACION*/

/*NAVEGACION CENTRALES*/

/*Estilo para la cajita desplegable (dropdown) */
.dropdown-menu {
    border: none;
    border-radius: 12px;
    padding: 10px;
}
.dropdown-item:hover {
    background-color: #dde8e1;
    color: #1c814c;
    border-radius: 8px;
}
.dropdown-toggle::after {
    display: none;  /*Oculta la flecha de los menu desplegables*/ 
}

/*Aplica reglas hover si la pantalla es una laptor o pc*/
@media (min-width: 992px) {
    .dropdown:hover > .dropdown-menu {
        display: block;
        margin-top: 0;
    }
    /* Si el menú tiene la clase '-end', lo alineamos a la derecha */
    .dropdown-menu-end,
    .dropdown-menu-md-end {
        right: 0;
        left: auto;
    }
}

/* Animación de entrada suave */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

/* background del navbar personalizado*/
.bg-navbar {
    background-color: #386150;
}

/* bg del body */
body {
    background-color: #eaeaea ;
}

/*OPCIONES ICONOS (DCHA)*/

/* Maneja el tamaño, color y efectos de los links*/
.nav-link-icon {
    color: #f8fdfa;
    font-size: 1.5rem;
    text-decoration: none;
    transition: 0.3s;
}
.nav-link-icon:hover {
    color: #1c814c; /* Verde al pasar el mouse */
}
.nav-link {
    color: #f8fdfa;
    text-align: center;
}
.nav-link:hover{
    font-weight: bold;
    color: #f8fdfa;
}
/* Evita que el botón de Productos se ponga negro al hacer clic o estar abierto */
.nav-link.show, 
.nav-link:focus {
    color: #f8fdfa !important; /* Mantiene tu color blanco hueso */
}
/* Si quieres que mantenga el estilo de negrita cuando está el menú abierto */
.nav-link.show {
    font-weight: bold;
}

    
/**Carrousel principal */
.img-banner {
    width: 100%;       /* Ocupa el ancho del contenedor */
    height: 450px;     /* Altura fija para que no sea gigante en PC */
    object-fit: cover; /* Recorta los bordes para no deformar la imagen */
    object-position: center;
}

/* Ajuste para celulares (Pantallas menores a 768px) */
@media (max-width: 768px) {
    .img-banner {
        height: 250px; /* En el celu es más bajito para que se vea mejor */
    }
}
.carousel-banner {
  line-height: 0; 
}

.carousel-banner img {
  display: block;
}

.carousel-banner .carousel-item {
  height: auto;
}

/* Estilos de las cards*/
.card-producto {
    border-radius: 12px; /* Esquinas redondeadas */
    overflow: hidden; /* Para que las esquinas redondeadas funcionen */
    border: none; /* Sin borde */
    background-color: #dde8e1;
}

/* Estilos para la img de cada card */
.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
/*estilo para precio de las cards*/
.card-text {
  color: #386150;
  font-weight: bold;
}
/*Estilo para el boton de productos*/
.btn-custom {
    background: #386150;
    color: #f8fdfa;
    border: none;
    transition: 0.3s;
}
.btn-color-matiensos:hover {
    background-color: #3d755a; /* Un verde un poco más claro */
}
/* Cuando el input está seleccionado (focus) */
.form-control:focus {
    border-color:  #386150; /* El color de tu borde verde */
}

    
/**Carrousel principal */
.img-banner {
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: center;
}

/* MOBILE */
@media (max-width: 768px) {
    .img-banner {
        height: auto;           
        object-fit: contain;     
    }
}

/* Estilos de las cards*/
.card-producto {
    border-radius: 12px; /* Esquinas redondeadas */
    overflow: hidden; /* Para que las esquinas redondeadas funcionen */
    border: none; /* Sin borde */
    background-color: #dde8e1;
}

/* Estilos para la img de cada card */
.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
/*estilo para precio de las cards*/
.card-text {
  color: #386150;
  font-weight: bold;
}
/*Estilo para el boton de productos*/
.btn-custom {
    background: #386150;
    color: #f8fdfa;
    border: none;
    transition: 0.3s;
}
.btn-custom:hover {
    background: #2f5242;
    color: white;
    font-weight: bold;
}
/* Estilos para las cards de categorías */
/* Bordes de la card */
.card-categoria {
  border-radius: 20px;
  background: #000;
  overflow: hidden; /* para que la imagen respete el borde */
}

/* Botón personalizado */
.btn-categoria {
  border: 1px solid #ffffff;
  color: #ffffff;
  background: transparent;
  transition: all 0.3s ease;
}

.btn-categoria:hover {
  background: #386150;
  border-color: #386150;
  color: #ffffff;
}
.card-title {
  margin-bottom: 10px;
}

.btn-categoria {
  margin-top: 10px;
}

/* tema id productos */
html {
  scroll-behavior: smooth;
}

#mates,
#bombillas,
#termos {
  scroll-margin-top: 100px;
}

/* CARRUSEL FONDO CLARO - flechas negras 
SOLO para el carrusel de productos */
#carouselProductos .carousel-control-prev-icon,
#carouselProductos .carousel-control-next-icon {
    filter: brightness(0) !important; 
    transform: scale(1.8);
}

/*  CARRUSEL FONDO OSCURO - flechas blancas */
.carousel-dark-theme .carousel-control-prev-icon,
.carousel-dark-theme .carousel-control-next-icon {
    filter: brightness(0) invert(1); /* blancas */
    transform: scale(1.8);
}

/* Área clickeable (para ambos) */
.carousel-control-prev,
.carousel-control-next {
    width: 6%;
}

/*contacto*/
/* Esto aplica a todas las pantallas */
#contacto {
    scroll-margin-top: 80px; /* Ajusta este número según la altura de tu Navbar */
}

@media (max-width: 768px) {
    #contacto {
        /* En móvil, si tu navbar es más chico, ajustas aquí */
        scroll-margin-top: 70px; 
    }
    
    /* Opcional: Reduce el tamaño del título en móvil para que suba más */
    #contacto h1.display-5 {
        font-size: 1.8rem;
        margin-top: 10px;
    }
}

/*TIPOGRAFIA*/
/* Para los títulos del Navbar y Footer */
h1, h2, h3, h4, h5, h6, .navbar-brand {
    font-family: 'Lora', serif;
    font-weight: 700;
}
/* Para los enlaces del menú, textos de productos y el resto */
body, .nav-link, .dropdown-item {
    font-family: 'Montserrat', sans-serif;
}


/*COLOR MATIENSOS*/
.color-matiensos {
    color: #386150;
}
.border-matiensos {
    border: 3px solid #386150
}
.bg-matiensos {
    background-color: #386150
}
.bg-matiensos-light {/* Fondo verde Matiensos con 10% de opacidad */
    background-color: rgba(56, 97, 80, 0.25); /* El 0.25 es el 25% */
}
.border-matiensos {
    border-color: #386150;
}
.bg-matiensos-custom {
    background-color: #386150;
}

/*ESTILO DE LOS BOTONES*/
.btn-color-matiensos {
    background-color: #386150;
    border: none;
}
.btn-color-matiensos:hover {
    background-color: #3d755a; /* Un verde un poco más claro */
}
.form-control:focus { /* Cuando el input está seleccionado (focus) */ 
    border-color:  #386150;
    box-shadow: 0 0 0 0.25rem rgba(45, 87, 67, 0.25); /* Sombra verde traslúcida */
}

/*ESTILO DE ACORDEON*/
/* Estilo del botón cuando está abierto */
.accordion-item .accordion-button:not(.collapsed) {
    background-color: white;
}
/* Quita el resplandor azul cuando se hace clic */
.accordion-item .accordion-button:focus {
    box-shadow: none;         /* Sin la sombra azul */
    border-color: #dee2e6;    /* Mantenemos el borde gris clarito de Bootstrap */
}
/* Color de la flechita cuando se abre */
.accordion-item .accordion-button::after {
    /* Esto hace que la flecha sea negra en lugar de azul */
    filter: brightness(0);
}
