/*BARRA DE NAVEGACION*/

/*NAVEGACION CENTRALES*/

/*Estilo para la cajita desplegable (dropdown) */
.dropdown-menu {
    border: none;
    border-radius: 12px;
    padding: 10px;
}
.dropdown-item:hover {
    background-color: #dde8e1;
    color: #1c814c;
    border-radius: 8px;
}
.dropdown-toggle::after { /*pseudo-elemento*/
    display: none;  /*Oculta la flecha de los menu desplegables*/ 
}
/* --- ABRIR DROPDOWNS AL PASAR EL MOUSE --- */
@media (min-width: 992px) { /* Solo para pantallas grandes (Laptops y PC) */
    .dropdown:hover > .dropdown-menu {
        display: block;
        margin-top: 0; /* Evita que haya un hueco y se cierre el menú */
    }

    /* Efecto de aparición suave */
    .dropdown-menu {
        animation: fadeIn 0.3s ease;
    }
}
/* Animación de entrada suave */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

/* background del navbar personalizado*/

.bg-navbar {
    background-color: #386150;
}

/* bg del body */
body {
    background-color: #FAF9F6 ;
}

/*OPCIONES ICONOS (DCHA)*/

/* Maneja el tamaño, color y efectos de los links en iconos */
.nav-link-icon {
    color: #f8fdfa;
    font-size: 1.5rem;
    text-decoration: none;
    transition: 0.3s;
}
.nav-link-icon:hover { /*pseudo-clase*/
    color: #1c814c; /* Verde al pasar el mouse */
}
.nav-link {
    color: #f8fdfa;
    text-align: center;
}
.nav-link:hover{
    font-weight: bold;
    color: #f8fdfa;
}
    
/**Carrousel principal */
.img-banner {
    width: 100%;       /* Ocupa el ancho del contenedor */
    height: 450px;     /* Altura fija para que no sea gigante en PC */
    object-fit: cover; /* Recorta los bordes para no deformar la imagen */
    object-position: center;
}

/* Ajuste para celulares (Pantallas menores a 768px) */
@media (max-width: 768px) {
    .img-banner {
        height: 250px; /* En el celu es más bajito para que se vea mejor */
    }
}