/*BARRA DE NAVEGACION*/

/*Titulo*/
.title-brand {
    font-size: 35px;
    font-weight: bolder;  /* Negrita */
    letter-spacing: 1px; /* Esto separa un poquito las letras */
    color: #1c814c; /* Color específico */
    align-items: center;
    d: flex;
}